body{
    background-image: url("bg.jpeg");
    background-size: cover;
    background-position: center top; 
    background-repeat: no-repeat;

}

h1.text-center{
    color: rgb(31, 26, 177);
    font-size: xxx-large;
    font-weight: 600;
    margin-bottom: 20vh;
    margin-top: 10vh;
}

label.text-info{
    font-size: x-large;
    color: black;
    margin-bottom: 3vh;
    
}

div#mybtn{
    margin-top: 10%;
    text-align: center;
    size: 50%;
}

div.partychoice{
    display: flex;
    align-content: center;
    align-self: center;
    height: 50vh;
    width: 50vw;
    font-size: x-large;
    color: beige;
}

img.partylogo{
    height: 10vh;
    width: 10vw;
    display: block;
}

img.resultimg{
    display: inline-block;
    height: 30vh;
    width: 20vw;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
}

div.iresult{
    margin-left: 5%;
    margin-top: 10%;
    display: inline-block;
    height: 35vh;
    width: 25vw;
    color: antiquewhite;
    font-size: x-large;
    text-align: center;
}

h1.resheading{
    font-size: 10vh;
    color: rgb(188, 77, 13);
    text-align: center;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}